<div class="container">

	<div class="row">
      <div class="col-sm-9 col-md-9 col-lg-10">
        <ol class="breadcrumb">
          <li><a ui-sref="displays"><i class="fa fa-home icon-left"></i> Displays</a></li>
          <li><a ui-sref="displayFinancialList">Lobby Display</a></li>
          <li class="active">Student Managed Fund Instruments</li>

        </ol>
      </div><!--col-->
      <div class="col-sm-3 col-md-3 col-lg-2">
        <a href="#" class="btn btn-primary btn-lg btn-block">Add Instrument <i class="fa fa-plus icon-right"></i></a>
      </div>
    </div><!--row-->

	<form>
      <div class="input-group half-top add-bottom">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input class="form-control" type="text" placeholder="Search Instruments" name="">
      </div>
    </form>
  
	<div class="panel panel-default">
      <table class="table table--sortable">
        <thead class="table-header">
          <tr class="table-header__row">
            <th class="table-header__cell">Name</th>
            <th class="table-header__cell hidden-xs">Symbol</th>
            <th class="table-header__cell hidden-xs">Category</th>
            <th class="table-header__cell hidden-xs">Logo</th>
            <th class="table-header__cell hidden-xs">Menu</th>
          </tr>
        </thead>
        <tbody class="table-body">

          <tr class="table-body__row">
            <td class="table-body__cell">
              <i class="fa fa-sort icon-left"></i> <strong>Dow Jones</strong>
            </td>
            <td class="table-body__cell hidden-xs"><div class="label label-default">.DJI</div></td>
            <td class="table-body__cell hidden-xs">Indexes</td>
            <td class="table-body__cell hidden-xs">Available</td>
            <td class="table-body__cell hidden-xs">Menu</td>
          </tr>

          <tr class="table-body__row">
            <td class="table-body__cell">
              <i class="fa fa-sort icon-left"></i> <strong>Dow Jones</strong>
            </td>
            <td class="table-body__cell hidden-xs"><div class="label label-default">.DJI</div></td>
            <td class="table-body__cell hidden-xs">Indexes</td>
            <td class="table-body__cell hidden-xs">Available</td>
            <td class="table-body__cell hidden-xs">Menu</td>
          </tr>

          <tr class="table-body__row">
            <td class="table-body__cell">
              <i class="fa fa-sort icon-left"></i> <strong>Dow Jones</strong>
            </td>
            <td class="table-body__cell hidden-xs"><div class="label label-default">.DJI</div></td>
            <td class="table-body__cell hidden-xs">Indexes</td>
            <td class="table-body__cell hidden-xs">Available</td>
            <td class="table-body__cell hidden-xs">Menu</td>
          </tr>

        </tbody>
      </table>
    </div>


</div><!--container-->
