
<div ng-controller="OptionsController">
<div ng-hide="addInstrument" class="bottom-save-block animated fadeInUp">
  <div class="container text-right">
    <button class="btn btn-primary" ui-sref="displayFinancialList" type="button" ng-click="$ctrl.ok()">Save <i class="fa fa-check icon-right"></i></button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel <i class="fa fa-times icon-right"></i></button>
  </div>
</div>

<div ng-show="addInstrument" class="bottom-save-block animated fadeInUp">
  <div class="container text-right">
    <button class="btn btn-primary" ng-click="addInstrument = !addInstrument" type="button" ng-click="$ctrl.ok()">Add <i class="fa fa-check icon-right"></i></button>
    <button class="btn btn-default" type="button" ng-click="addInstrument = !addInstrument">Cancel <i class="fa fa-times icon-right"></i></button>
  </div>
</div>

<div class="container animated fadeIn">
 

	<div class="row">
      <div class="col-sm-9 col-md-9 col-lg-10">
        <ol class="breadcrumb">
          <li><a ui-sref="displays"><i class="fa fa-home icon-left"></i> Displays</a></li>
          <li><a ui-sref="displayFinancialList">Lobby Display</a></li>
          <li class="active"><span>Student Managed Fund Instruments</span></li>

        </ol>
      </div><!--col-->
      <div class="col-sm-3 col-md-3 col-lg-2">
        <a ng-hide="addInstrument" ng-click="addInstrument = !addInstrument" href="#/instruments" class="btn btn-primary btn-lg btn-block">Add Instrument <i class="fa fa-plus icon-right"></i></a>
      </div>
    </div><!--row--> 

  

	

  <div class="animated fadeIn" ng-show="addInstrument">
    <div class="">

  
      <div class="row">
        <div class="col-sm-8">
          <form>
            <div class="input-group add-bottom">
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
              <input class="form-control" type="text" placeholder="Search Instruments" name="">
            </div>
          </form>
        </div><!--col-->

        <div class="col-sm-4">
          <div class="form-group">
            <select ng-class="{'animated shake' : selectedUser==8}" class="form-control"  ng-options="opt.id as opt.name for opt in users" ng-model="selectedUser"></select>        

          </div>
        </div><!--col-->

      </div><!--row-->

    <div class="animated fadeIn" ng-show="selectedUser==8">
      <div style="padding: 2px 10px" class="alert alert-danger" role="alert">
      Not subscribed to <strong>Currencies</strong>. <a style="font-weight: 500" href="#">Subscribe </a>
      </div>
    </div>

  <div class="panel panel-default">
    <table class="table" ng-class="{'table--selector' : selectedUser==5,'light-table' : selectedUser==8}">


      <tbody class="table-body">
        <tr ng-click="isSelected = !isSelected" class="table-body__row" ng-repeat="instruments in $ctrl.instruments | filter : {category: 'World Indexes'} : true"
        ng-class="{'table-body__row--is-selected' : isSelected}"
        >
          <td class="table-body__cell">
            <span>
              <strong style="margin-right: 4px">{{instruments.name}}</strong>
              <p class="text-muted remove-bottom">{{instruments.symbol}}</p>
            </span>
            
          </td>
         
          <td class="table-body__cell hidden-xs col-xs-2">
            <span ng-if="instruments.logo == 'Logo Available'">{{instruments.logo}}</span>
            <a href="#" ng-if="instruments.logo == 'Get Logo'">{{instruments.logo}}</a>
          </td>
          
        </tr>  
      </tbody>
    </table>
  </div><!--panel-->
  </div>
  </div> <!--addInstruments-->


  <div ng-hide="addInstrument" style="padding: 2px 10px" class="alert alert-danger half-top" role="alert">
    Not subscribed to <strong>Currencies</strong>. <a style="font-weight: 500" href="#">Subscribe </a>

    </div>

  <form ng-hide="addInstrument">
    <div class="input-group half-top add-bottom">
      <span class="input-group-addon"><i class="fa fa-search"></i></span>
      <input class="form-control" type="text" placeholder="Search Instruments" name="">
    </div>
  </form>
  
	<div ng-hide="addInstrument" class="panel panel-default">
    <table class="table table--sortable">
      <thead class="table-header hidden">
        <tr class="table-header__row">
          <th class="table-header__cell">Name</th>
          <th class="table-header__cell hidden-xs">Logo</th>
          <th class="table-header__cell col-xs-1"></th>
        </tr>
      </thead>

      <tbody class="table-body">
        <tr class="table-body__row {{instruments.category}}" ng-repeat="instruments in $ctrl.instruments">
          <td class="table-body__cell" >
            <div class="drag-handle"></div>
            
            <span><strong style="margin-right: 4px">{{instruments.name}}</strong></span>
            <p class="text-muted remove-bottom hidden-xs">{{instruments.symbol}}</p>
            <p class="text-muted remove-bottom visible-xs">{{instruments.symbol}}<span style="margin-left: 4px">&middot; {{instruments.category}}</span></p>
          </td>

          <td class="table-body__cell hidden-xs">
            <span>{{instruments.category}}</span>
            
          </td>
          <td class="table-body__cell text-right">
            <div class="btn-group" uib-dropdown is-open="status.isopen">
              <button id="single-button" type="button" class="btn btn-xs btn-default" uib-dropdown-toggle ng-disabled="disabled">
              Actions <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" ng-controller="ModalCtrl as $ctrl">
                <li>
      
                  <a href="#" ng-if="instruments.logo == 'Get Logo'">{{instruments.logo}} <i class="fa fa-shopping-cart"></i></a>
                </li>
                <li class="divider"></li>
                <li role="menuitem"><a ng-click="$ctrl.open('editName.html')" href="#/instruments">Edit Name</a></li>
                <li role="menuitem"><a href="#/instruments"><span class="text-danger">Remove Instrument</span></a></li>
              </ul>
            </div><!-- Single button -->             
          </td>
        </tr>  
      </tbody>
    </table>
  </div><!--panel-->

    

    



</div><!--container-->


<div ng-controller="ModalCtrl">
  <script type="text/ng-template" id="editName.html">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-title">Edit Instrument Name</h3>
    </div>
    
    <div class="modal-body" id="modal-body">

      <form class="form">
        <div class="form-group">
          <label class="control-label">Instrument Name</label>
          <input type="text" class="form-control" value="Dow Jones" name="">
        </div>
      </form>

      </div>
      
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Save <i class="fa fa-check icon-right"></i></button>
        <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel <i class="fa fa-times icon-right"></i></button>
      </div>
   
  </script>

  <script type="text/ng-template" id="addInstrument.html">

    <div class="modal-header">
      <h3 class="modal-title" id="modal-title">Add Instrument</h3>
    </div>
    
    <div class="modal-body" id="modal-body">

      <div class="row">
        
        <div class="col-sm-8">
          <form>
            <div class="input-group add-bottom">
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
              <input class="form-control" type="text" placeholder="Search Instruments" name="">
            </div>
          </form>
        </div><!--col-->

        <div class="col-sm-4" ng-controller="ModalCtrl as $ctrl">

          

        </div><!--col-->

      </div><!--row-->

        <div class="panel panel-default">
          
        </div><!--panel-->


    </div><!--modal-body-->
      
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Save <i class="fa fa-check icon-right"></i></button>
      <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel <i class="fa fa-times icon-right"></i></button>
    </div>
   
  </script>

  </div>

  <style type="text/css">
    .Currency td:first-child, .Currency td:first-child .text-muted {
      color: #c7254e;
    }
    .Currency .label {
      color: #c7254e;
    } 
    .light-table {
      opacity: 0.5;
    }
    .red-border {
    }
  </style>


</div>