<div class="container animated fadeIn">

	<div class="row">
    <div class="col-sm-9 col-md-9 col-lg-10">
      <ol class="breadcrumb">
        <li><a ui-sref="displays" href="#"><i class="ss-home icon-left"></i> Displays</a></li>
        <li><a ui-sref="displayFinancialList">Lobby Display</a></li>
        <li class="active"><span>Users</span></li>
      </ol>
    </div><!--col-->
    <div class="col-sm-3 col-md-3 col-lg-2 hidden-xs" ng-controller="ModalCtrl as $ctrl">
      <a ng-click="$ctrl.open('inviteUser.html')" class="btn btn-primary btn-lg btn-block">Add User <i class="fa fa-plus icon-right"></i></a>
    </div>
  </div><!--row-->

  <form class="hidden-xs">
    <div class="input-group half-top add-bottom">
      <span class="input-group-addon"><i class="fa fa-search"></i></span>
      <input class="form-control" type="text" placeholder="Search Users" name="">
    </div>  
  </form>

  <div class="row half-top visible-xs">
    <div class="col-xs-7">
      <form>
        <div class="input-group add-bottom">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input class="form-control" type="text" placeholder="Search Users" name="">
        </div>
      </form>
    </div>
    <div class="col-xs-5" ng-controller="ModalCtrl as $ctrl">
      <button ng-click="$ctrl.open('inviteUser.html')" class="btn btn-primary btn-block"><span style="font-size: 13px; line-height: 20px">Add User</span></button>
    </div>
  </div><!--visible-xs-->

	
  
  <div class="panel panel-default">
      <table class="table">
        <thead class="table-header">
          <tr class="table-header__row">
            <th class="table-header__cell"><a href="#">Name <i class="fa fa-long-arrow-up icon-right"></i></a></th>
            <th class="table-header__cell hidden-xs"><a href="#">Role</a></th>
            <th class="table-header__cell hidden-xs"><a href="#">Status</a></th>
            <th class="table-header__cell col-xs-1"></th>
          </tr>
        </thead>
        <tbody class="table-body">

        <tr class="table-body__row" ng-repeat="users in $ctrl.users" >
          <td class="table-body__cell">
            <span><strong>{{users.name}} </strong> <span class="text-muted">{{users.email}}</span></span>
          </td>
          <td class="table-body__cell hidden-xs">{{users.role}}</td>
          <td ng-controller="ModalCtrl as $ctrl" class="table-body__cell hidden-xs">
          <span ng-if="users.status == 'Accepted'">{{users.status}}</span>
          <a href="#/users" ng-click="$ctrl.open('reInvite.html')" ng-if="users.status == 'Re-Invite'">{{users.status}}</a>
          </td>
          <td class="table-body__cell">
            
            <div class="btn-group" uib-dropdown is-open="status.isopen">
              <button id="single-button" type="button" class="btn btn-xs btn-default" uib-dropdown-toggle ng-disabled="disabled">
                Actions <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" ng-controller="ModalCtrl as $ctrl">
                <li class="visible-xs" ng-if="users.status == 'Re-Invite'"  role="menuitem"><a ng-click="$ctrl.open('reInvite.html')" href="#">Re-Invite</a></li>
                <div ng-if="users.status == 'Re-Invite'" class="divider visible-xs"></div>
                <li ng-if="users.status == 'Accepted'" role="menuitem"><a href="#/users" ng-click="$ctrl.open('editUser.html')">Edit User</a></li>
                <li ng-if="users.status == 'Accepted'" role="menuitem"><a href="#"><span class="text-danger">Remove User<span></a></li>
                <li ng-if="users.status == 'Re-Invite'" role="menuitem"><a href="#/users">Cancel Invitation</a></li>
              </ul>
            </div><!-- Single button -->

          </td>
        </tr>


        </tbody>
      </table>
    </div><!--panel-->

<div ng-controller="ModalCtrl">
  <script type="text/ng-template" id="editUser.html">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Edit User</h4>
    </div>
    
    <div class="modal-body" id="modal-body">

      <form class="form">
        <div class="form-group">
          <label class="control-label">Name</label>
          <input type="text" class="form-control" value="John Doe" name="">
        </div>
        <div class="form-group">
          <label class="control-label">Email</label>
          <input type="text" class="form-control" value="john@globex.com" name="">
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Role</label>
                <select class="form-control">
                  <option>Administrator</option>
                  <option>Editor</option>
                </select>
              </div>   
            </div>
          </div>
        </form>

      </div>
      
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Save <i class="fa fa-check icon-right"></i></button>
        <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel <i class="fa fa-times icon-right"></i></button>
      </div>
   
  </script>

    <script type="text/ng-template" id="inviteUser.html">
    <div class="modal-header">
      <h4 ng-hide="invitationSent" class="modal-title" id="modal-title">Add User</h4>
      <h4 ng-show="invitationSent" class="modal-title" id="modal-title">Success</h4>
    </div>
    
    <div class="modal-body" id="modal-body">

      <div style="padding:20px;" ng-if="invitationSent" class="text-center">
        <i class="ss-check text-green" style="font-size: 32px;"></i>
        <p class="half-top">An invitation email was sent to <strong>joe@globex.com</strong>.</p>
        <button class="btn btn-primary add-top" ng-click="$ctrl.cancel()">OK</button>
      </div>

      <form class="form" ng-hide="invitationSent">

        <div class="form-group">
          <label class="control-label">Email</label>
          <input type="text" class="form-control" placeholder="Enter Email" name="">
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Role</label>
                <select class="form-control">
                  <option>Administrator</option>
                  <option>Editor</option>
                </select>
              </div>   
            </div>
          </div>
        </form>

      </div>
      
      <div class="modal-footer" ng-hide="invitationSent">
        <button class="btn btn-primary" type="button" ng-click="invitationSent = !invitationSent">Send Invitation <i class="fa fa-envelope icon-right"></i></button>
        <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel <i class="fa fa-times icon-right"></i></button>
      </div>
   
  </script>


  <script type="text/ng-template" id="reInvite.html">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Success</h4>
    </div>
    
    <div class="modal-body" id="modal-body">

      <div style="padding:20px;" class="text-center">
        <p>An invitation email was sent to <strong>joe@globex.com</strong>.</p>
        <button class="btn btn-default" ng-click="$ctrl.cancel()">OK</button>
      </div>

    </div>
      
      
   
  </script>


</div><!--modal-->







    
    


</div><!--container-->
